In [ ]:
#Functions:--
"""
def function_name(parameter1 , paramter2 ,....):
    // Here you will write functions
    function body
    
    
    return[expression]
    

function_name()



"""

In [9]:
def printstr(str):
    "This prints passed string into the function"
    print(str)
    return

printstr("Hitesh")

Hitesh
hello this is my own function

In [10]:
#1) Call a function that performs a task and has no return value
def my_function():
    print("hello this is my own function")
    
my_function()

hello this is my own function

In [14]:
#2) Call a function with return value:-

def my_function(name):
    print("hello " +name)
    

    
my_function("Hitesh")

my_function("Coachx")

my_function("a")

hello Hitesh
hello Coachx
hello aMIT

'Hitesh'

In [16]:
#3) Call a function with arguments:-

def avg_number(x , y):
    print("Average of ", x ,"and " ,y , "is :" , (x+y)/2)


avg_number(3,4)
avg_number(5,5)

Average of  3 and  4 is : 3.5
Average of  5 and  5 is : 5.0

In [17]:
#4)calling a  function

def square(x):
    return x*x

square(4)

16

In [19]:
#Implicit type Conversion:-

value1 = 10
value2 = 10.5

sum = value1+value2
print(sum)

print(type(sum))

20.5
<class 'float'>

In [26]:
#Explicit type Conversion:--

s = "10010"
c = int(s ,2 )
print(c)

f = float(s)

print(f)

18
10010.0

In [28]:
#Your task:-

x = '100010'

x = tuple('1,2,3')
print(x)

('1', ',', '2', ',', '3')

In [35]:



print(min(10,20,30))

print(max(120,20,30))

print(pow(2,3))

print(round(10.2356))


print(abs(-9))
print(abs(9))

10
120
8
10
9
9

In [40]:
#Maths Functions:-
import math

print(math.ceil(2.3))

print(math.floor(2.3))

print(math.cos(30))

print(math.sin(30))

print(math.cosh(30))


print(math.factorial(50))


print(math.log(14))

print(math.sqrt(144))

3
2
0.15425144988758405
-0.9880316240928618
5343237290762.231
30414093201713378043612608166064768844377641568960512000000000000
2.6390573296152584
12.0

In [42]:
#Parameters and Arguments :--

# There are two types of Parameters :--
"""
1) formal Parameters:-


2) Actual Paramters:--





"""
def cube(x):  #formal parameter
    return x*x*x

result = cube(7)  # actual parameters
print(result)

343

In [44]:


"""
There are two types of Arguments :-

Function Arguments:-

1) Keyword Arguments::--

2) Default Arguments:--


3) Required Arguments :-

4) Varaibale -length Arguments :--



"""
#Keyword Arguments :--
def func(str):
    "this prints strings"
    print(str)
    return

func(str = "Coachx")



def mydata(name   , age):
    print("Name"  ,name)
    print("Age" , age)
    return
mydata(age = 24  ,name = "Hitesh")

Coachx
Name Hitesh
Age 24

In [45]:
#Default Arguments :-


def mydata(name   , age = 50):
    print("Name"  ,name)
    print("Age" , age)
    return
mydata(age = 24  ,name = "Hitesh")
mydata(name = "Simona")

Name Hitesh
Age 24
Name Simona
Age 50

In [47]:
#required Arguments :-

def printme(str):
    "this is required args"
    print(str)
    return

printme("Coachx")

Coachx

In [52]:
#Variable_length Arguments:-


def sum(*args):
    resultfinal = 0
    for arg in args:
        resultfinal = resultfinal+arg
    return resultfinal



sum(10, 20)

sum(10,20,30)

sum(10,20,30,40,50,60)

210

In [ ]:
#1) write a function to program find the largest among the three numbers

#2) Program to find HCF and GCD


#3) Do all Explicit type Conversion

#4)Proram to find afactors of a number

#5) program to find the sum of natural numbers:-