In [8]:
#Numbers Datatypes
a = 10
print(a) # it displays the output


b = 20

c = 30

d = 40

print(a , b , c , d)

10
10 20 30 40

In [9]:

#Floating datatype

a = 1.2
b = 6.5
c = 7.6
d = 5.653

print(a ,b , c , d)

print(a)
print(b)
print(c)
print(d)

1.2 6.5 7.6 5.653
1.2
6.5
7.6
5.653

In [14]:
#Complex Numbers :--

cm = 3+4j
print(cm)


print(cm.real)
print(cm.imag)


print("The real nos is = " , cm.real)
print("The imaginary nos is = " , cm.imag)




cm1 = -6+5j

(3+4j)
3.0
4.0
The real nos is =  3.0
The imaginary nos is =  4.0

In [22]:
#String :-
#Double Quoted String
S1 = "Hitesh"
S2 = "Prasanjeet"
S3= "Guru Bala"
S4 = "All my dear students"


print(S3)
print("Coachx Students are" , S4)

#Single Quoted String :-
S1 = 'Hitesh'
S2 = 'Prasanjeet'
S3= 'Guru Bala'
S4 = 'All my dear students'



print(S1)
print(S2)



S1 = "$"
print(S1)

Guru Bala
Coachx Students are All my dear students
Hitesh
Prasanjeet
$

In [26]:
#List:-

first = [10,20,30,40,50,60,70,80,90,100]

print(first)


names = ["Hitesh" ,"Simona" , "Ahana" ,"Guru Bala" , "Aishwarya"]
print(names)


floats = [1.2,3.2,4.6,2.3]
print(floats)

mix_type = [1,2.3,4.6,"Hitesh" ,'Guru Bala' ,'Jakir' , 3.6,5369]
print(mix_type)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
['Hitesh', 'Simona', 'Ahana', 'Guru Bala', 'Aishwarya']
[1.2, 3.2, 4.6, 2.3]
[1, 2.3, 4.6, 'Hitesh', 'Guru Bala', 'Jakir', 3.6, 5369]

In [28]:
# tuples :-
t1 = ("Students" , "Cars" , "Luxury" , "life")
print(t1)


t2 = (1,2,3.6,5.69,'Hitesh' ,'Guru Bala' , "Ahana")
print(t2)

('Students', 'Cars', 'Luxury', 'life')
(1, 2, 3.6, 5.69, 'Hitesh', 'Guru Bala', 'Ahana')

In [37]:
#Dictionary :-
dictionary = {"First":1}
print(dictionary)



dict2 = {"Students":"Coachx"}
print(dict2)


diction  = {1:"First" , "2" : "seconds" , 3 : 'third'}
print(diction)


dict3 = {12.3 :25}
print(dict3)


print(dictionary.keys())
print(dictionary.values())

print(dict2.keys())
print(dict2.values())

print(diction.keys())
print(diction.values())

{'First': 1}
{'Students': 'Coachx'}
{1: 'First', '2': 'seconds', 3: 'third'}
{12.3: 25}
dict_keys(['First'])
dict_values([1])
dict_keys(['Students'])
dict_values(['Coachx'])
dict_keys([1, '2', 3])
dict_values(['First', 'seconds', 'third'])

In [46]:
#Set :-

my_set = {"Apple " , "Mango" , "Oranges"}
print(my_set)

my_set2 = {'a' ,'b' , 'c' ,'d'}

print(my_set2)

{'Mango', 'Apple ', 'Oranges'}
{'c', 'd', 'a', 'b'}

In [43]:
#Boolean :--


a = 10
print(a<0)

b = 20
print(a==b)





c = 30
print(a==c)


d = 30
print(c ==d)

False
False
False
True