In [6]:
#Tuples:-

tuple1 = (10,20,30,40)
print(tuple1)

tuple2 = (10,20,30,"h" ,"i" , 't' , 'e' , 's' ,'H')
print(tuple2)

type(tuple2)

print(tuple1[1:4])

print(tuple1[-1])

(10, 20, 30, 40)
(10, 20, 30, 'h', 'i', 't', 'e', 's', 'H')
(20, 30, 40)
40

In [11]:
#Tuple Assignment:-

coachx = (8 ,'Noor' , "Pune")
(id, name  , city) = coachx

print(id)
print(name)
print(city)

8
Noor
Pune

In [13]:
#Deleting the tuples:-

t1 = (10,20)
print(t1)

del t1
print(t1)

(10, 20)

NameError: name 't1' is not defined

In [19]:
a = (1,2,3,4,5 ,6)
b = a[:2]
print(b)

(1, 2)

In [20]:
t2 = (1,2,3,[4,5,6,],7,8,9,[10,11,12])
print(t2)

(1, 2, 3, [4, 5, 6], 7, 8, 9, [10, 11, 12])

In [7]:
#Sets:-

Set = {1,2,3,4,5}
print(Set)

print(type(Set))

color = {'Red' , 'Green' , 'Blue' , 'Black'}
print(color)


set1 = {1,1,2,2,3,3,4,4,5,5}
print(set1)

s = set(range(1,10))

print(s)

{1, 2, 3, 4, 5}
<class 'set'>
{'Black', 'Red', 'Blue', 'Green'}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [8]:
#Accessing the value in the set

print(set1[0])

TypeError: 'set' object is not subscriptable

In [11]:
days = set(['Mon' , 'Tues' , 'Wed' , 'Thur' , 'Fri' , 'Sat'])
print(days)

for i in days:
    print(i)

{'Sat', 'Thur', 'Mon', 'Tues', 'Fri', 'Wed'}
Sat
Thur
Mon
Tues
Fri
Wed

In [15]:
#FrozenSet:-
#Delete the values in the set:-

b = {'a' , 'b' , 'c' , 'e' , 'f'}
print(b)


print(b.discard('b'))

print(b.remove('a'))

print(b.pop())

print(b)

{'c', 'b', 'e', 'a', 'f'}
None
None
c
{'e', 'f'}

In [19]:
#Update the sets:--

s1 = {1,2,3,4,5}
print(s1)
print(s1.add(6))

print(s1)

print(s1.update({7,8}))
print(s1)

{1, 2, 3, 4, 5}
None
{1, 2, 3, 4, 5, 6}
None
{1, 2, 3, 4, 5, 6, 7, 8}

In [20]:
#union Operations of set:-

A = {1,2,3,4,5,8}
B = {1,2,3,4,5,6}

C = A|B
print(C)

{1, 2, 3, 4, 5, 6, 8}

In [22]:
#Intersection of Sets:--

Day1 = set(["Monday" , "Tuesday" , "Wednesday"])
Day2 = set(["Wednesday" ,"Thursday" , "Friday"])

AllDays = Day1&Day2

print(AllDays)

{'Wednesday'}

In [25]:
#Difference of the sets


A = {1,2,3,4,5}
B = {1,2,3,8,9}

C = B-A
C1 = A-B
print(C)
print(C1)

{8, 9}
{4, 5}

In [26]:
#Symmetric Difference :-
 (A-B) union (B-A)

A = {1,2,4,5,6,8}
B = {1,2,3,4,5,6}


C = A^B

print(C)

{3, 8}

In [27]:
#Functions of the Sets:--

A = {'red' , 'Yellow' , 'Green'}
B = {'Blue' , 'Yellow' , 'Violet'}

print("union of A and B :" , A.union(B))

print("Intersection of A and B:" , A.intersection(B))

print("Difference of A and B" ,A.difference(B))


print("Symmetric Difference of A and B :" , A.symmetric_difference(B))

print("Disjoint of the sets :" , A.isdisjoint(B))

print("Subset of set : "  , A.issubset(B))

print("Superset of Set :" , A.issuperset(B))

union of A and B : {'Violet', 'Blue', 'Yellow', 'Green', 'red'}
Intersection of A and B: {'Yellow'}
Difference of A and B {'Green', 'red'}
Symmetric Difference of A and B : {'Green', 'Violet', 'Blue', 'red'}
Disjoint of the sets False
Subset of set  False
Superset of Set False

In [33]:
#Dictionaries:--Key:Value

d1 = {1:'Ahana' , 2:'Simona' , 3:'Amit' , 4:"Adhish",
     5:'Harmindar' ,6:'Durgesh' ,7:'Noor' , 8:'Hitesh'}

print(d1)


d2 = {"Days":['Monday' , 'Tuesday' , 'Wednesday'] , "Month" : ['Jan' , 'Feb' , 'March']}

print(d2)



d3 = {"Names":('TCS' ,'Wipro' ,'Google') , "Location":('Pune' , 'Pune' ,'Pune')}
print(d3)

{1: 'Ahana', 2: 'Simona', 3: 'Amit', 4: 'Adhish', 5: 'Harmindar', 6: 'Durgesh', 7: 'Noor', 8: 'Hitesh'}
{'Days': ['Monday', 'Tuesday', 'Wednesday'], 'Month': ['Jan', 'Feb', 'March']}
{'Names': ('TCS', 'Wipro', 'Google'), 'Location': ('Pune', 'Pune', 'Pune')}

In [38]:
#Accessing the values in the Disctionary:--
print(d3.get('Names'))


print(d1.get(1))

print(d1[4])

print(d1[5])

('TCS', 'Wipro', 'Google')
Ahana
Adhish
Harmindar

In [53]:
#Delete the elements from the dictionary:--

#print(d1.popitem())
#print(d1)


#print(d4.pop(2))

d4 = {1:"Session" , 2:"is Boring"}

print(d2.pop("Month"))

print(d3.pop()) #it will not work

KeyError: 'Month'

In [55]:
#Updating of the dictionary

di1 = {'name':'Suman' , 'age' : '24'}
print(di1)
di1['age'] = 25
print(di1)

di1['Address'] = 'UP'

print(di1)

{'name': 'Suman', 'age': '24'}
{'name': 'Suman', 'age': 25}
{'name': 'Suman', 'age': 25, 'Address': 'UP'}

In [60]:
#Basic Operation on Disctionary:-

#1) Membership test:--

Squares = {1:1 , 2:4 , 3:9 , 4:16  , 5:25}
print(Squares)
print(1 in Squares)

print('Hitesh' in Squares)

print(25 in Squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
True
False
False

In [63]:
#traversing of the disctionary:--
squares = {1:1 , 2:4 , 3:9 , 4:16  , 5:25}

for i in squares:
    print(i   , ":", squares[i])

1 : 1
2 : 4
3 : 9
4 : 16
5 : 25

In [64]:
#Built in functions in Dictionary:-

d1 = d1.fromkeys(['name' ,'age' ,'Address'] , 'Position')
print(d1)

{'name': 'Position', 'age': 'Position', 'Address': 'Position'}

In [ ]:
#You have to explore around 10 function in Dictionary